@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Shrikhand&display=swap');
@import url('https://fonts.cdnfonts.com/css/ranade');

/* ── Variables ── */

:root {
  --plum: #604f6f;
  --lilac: #817091;
  --slate: #5a5f75;
  --cobalt: #446594;
  --blush: #f197a3;
  --rose: #e3c0c0;
  --peach: #ef8e73;
  --cream: #fdf6f0;
  --paper: #f9f1eb;

  /* Forma de la imagen */
  --R: 18px; /* esquina redondeada exterior de la imagen           */
  --bw: 29%; /* ancho del recorte (% del contenedor de imagen)     */
  --bh: 38%; /* alto del recorte (% del contenedor de imagen)      */
  --br: 14px; /* esquina cóncava interior de cada recorte           */
  --bc: 14px; /* curva convexa donde el recorte se une al borde     */
}